.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
yarn-error.log

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/caching#zero-installs

# env files
.env*
!.env.example

#!.yarn/cache
.pnp.*
node_modules

.nx/
@mf-types/
__pycache__/
dist/

# test coverage
.coverage