# Ignore artifacts:
.coverage
build
dist
dist-*
node_modules

# Ignore lockfiles
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignore IDE specific files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
